main {
    font-family:  "https://fonts.google.com/specimen/Epilogue";
}

.nav {
    
    margin-left: 20px;
    margin-right: 20px;
     
    display: flex;
    position: relative;
    align-items: flex-start;

}

.logo {
    margin-left: 20px;
    font-size: 40px;
    line-height: 40px;
    position: relative;
    margin-top:5px;

}


.navbar {
    width: 100%;
    display: flex;
    position: relative;
    background-color: transparent;
    justify-content: space-between;
}


.nav-items {
    display: flex;

    margin-left: 4%;

    width: 60%;
    list-style: none;

}

.nav-link {
    font-size: 15px;
    margin-right: 40px;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
}

.nav-link:hover {
    color: hsl(0, 0%, 0%);
}

.nav-buttons {
    position: absolute;
     top:25%;
    right: 0;
    display: flex;
}

.nav-key {
     
    margin-right: 50px;
    
}
.nav-key:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#login {
    border: none;
    background: none;
    font-size: 15px;
    color: hsl(0, 0%, 41%);
}

#register {
    background: none;
    font-size: 15px;
    color: hsl(0, 0%, 41%);
    border-radius: 7px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    display: none;
}

.container {
    position: absolute;
    display: flex;
    width: 85%;
    height: 85%;
     
    margin: auto;
    right: 5%;
    top: 10%;
    justify-content: space-around;
    bottom: 0;
}

.hero-image-desk {

    position: relative;
    height: 100%;
     
    justify-self: flex-end;
    width: auto;

}

.hero-image-mob {
    display: none;
}

.contant {
    position: relative;
    
    justify-self: flex-start;
    height: 100%;
    width: 50%;
}

.title {
    font-size: 80px;
    position: relative;
    margin-top:10%;
}

.description {
    font-size: 18px;
    color: hsl(0, 0%, 41%);
}

.contanier-button {
    border: none;
    background-color: black;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    color: white;
    margin-top: 6%;
    border-radius: 7px;
    margin-bottom: 10px;;
    margin-bottom: 20%;
    
}

.support-img {
    
    display: flex;
     
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin:auto;
    
    bottom:0;
    transform:scale(1);
    width:100%;
    
    
}

.clients {
    position: relative;
    display: block;
    margin:auto;
    

}
.dropdown{
    padding:20px 30px;
    z-index: 2;
    position: relative;
    /* border:1px black solid; */
    list-style: none;
    margin-top:3px;
     
     
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 20px grey;
     
     
     
     
}

.dropdown-link{
    line-height: 30px;
}
.dropdown-img{
    margin-right:20px;
}
.close-menu{
    display:none;
}

@media (max-width:850px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-right: -5%;
        height:80vh;
        position:relative;
        height: fit-content;
         
         
         
        

    }

    .contant {
        width: 100%;
        text-align: center;

    }

    .title {
        font-size: 40px;
        margin-top: 20px;

    }

    .hero-image-desk {
        display: none;
    }

    .hero-image-mob {
        display: block;
    }

    .support-img {
        margin-top: 5%;
        transform: scale(0.9);

    }

    .clients {
        transform: scale(0.7);

    }

    .nav-items {
        flex-direction: column;
        position: relative;
        margin-top:20%;
         
        
        
    }
    .nav-buttons{
        flex-direction: column;
        position: relative;
    }
    .nav-key{
        width:100%;
        margin:10px auto;
         
    }
    .nav-link{
        margin:10px auto;
    }

    .navbar {
        flex-direction: column;
        display: none;
        
         
        position: absolute;
        z-index: 2;
        
        height: fit-content;
        width: 60%;
        right:0;
        background-color: white;
        top:15%;
        box-shadow:10px 10px 15px rgb(0, 0, 0);
        border-radius: 10px;

    }
    

    .nav {
        margin-right: 2px;
        margin-left: 2px;
        align-items:center;

    }

    .menu {
        display: block;
        position: absolute;
        margin: auto;
        right: 3%;
        top:25%
    }
    .close-menu{
        display: block;
        transform : scale(1);
        position: absolute;
        right:7%;
        top:2%;
    }
    .dropdown{
        width:80%;
        box-shadow: none;
         
    }

}